<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/images/huser.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="form">
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="user_id" placeholder="User Id">
        <input type="text" id="password" class="fadeIn third" name="login" formControlName="password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="performLogin()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <code class="error" *ngIf="errorMessage != null">{{errorMessage}}</code>
        <code *ngIf="errorMessage == null">Your Life Your Choice</code>
        <br>
        <a class="underlineHover" [routerLink]="['/signup']">Not a user? Sign Up here</a>
      </div>
  
    </div>
  </div>