<app-header></app-header>  
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" (click)="togglePanel()" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Latest Reminder
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" #panel1>
      <div class="accordion-body">
        <div class="container-fluid mt-1" >
          <div class="d-flex flex-wrap justify-content-center" *ngIf="latestReminders.length != 0">
              <div class="card text-center" *ngFor="let r of latestReminders; let i = index" [ngClass]="{'bg-completed': r.status == 1}">
                  <div class="card-header">
                    Remember To
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{r.title}}</h5>
                    <img src="{{r.image}}" alt="" width="60%">
                    <div class="d-flex justify-content-center">
                      <p class="card-text">{{r.message}}</p>
                    </div>
                    <button (click)="getWeatherForecast()" *ngIf="r.reminder_type_id == 5" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-info btn-sm btn-radius" [disabled]="r.status == 1"><i class="fas fa-cloud fa-lg"></i></button>
                    <button (click)="captureImage(r)" *ngIf="r.reminder_type_id == 2 || r.reminder_type_id == 3 || r.reminder_type_id == 4" class="btn btn-primary btn-sm btn-radius" [disabled]="r.status == 1" ><i class="fas fa-camera fa-lg"></i></button>
                    <button (click)="suggestMeal(r)" *ngIf="r.reminder_type_id == 2 || r.reminder_type_id == 3 || r.reminder_type_id == 4" class="btn btn-info btn-sm btn-radius" [disabled]="r.status == 1" ><i class="fas fa-utensils fa-lg"></i></button>
                    <button (click)="completeReminder(i)" class="btn btn-success btn-sm btn-radius" [disabled]="r.status == 1"><i class="fas fa-check"></i></button>                  </div>
                  <div class="card-footer text-muted">
                    {{r.timelapsed}}
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" (click)="togglePanel()" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Reminders more than 3 hours ago
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" #panel2>
      <div class="accordion-body">
        <div class="container-fluid mt-1" >
          <div class="d-flex flex-wrap justify-content-center" *ngIf="oldReminders.length != 0">
              <div class="card text-center" *ngFor="let r of oldReminders" [ngClass]="{'bg-completed': r.status == 1, 'bg-expired': r.status == 0 }">
                  <div class="card-header">
                    Remember To
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{r.title}}</h5>
                    <img src="{{r.image}}" alt="" width="60%">
                    <div class="d-flex justify-content-center">
                      <p class="card-text">{{r.message}}</p>
                    </div>
                    <!-- <button (click)="captureImage(r)" class="btn btn-primary btn-sm btn-radius" [disabled]="r.status == 1" ><i class="fas fa-camera fa-lg"></i></button>
                    <button (click)="suggestMeal(r)" class="btn btn-info btn-sm btn-radius" [disabled]="r.status == 1" ><i class="fas fa-utensils fa-lg"></i></button>
                    <button (click)="completeReminder(i)" class="btn btn-success btn-sm btn-radius" [disabled]="r.status == 1"><i class="fas fa-check"></i></button> -->
                  </div>
                  <div class="card-footer text-muted">
                    {{r.timelapsed}}
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Weather Forecast <br> {{ weatherForecast.start_date | date:'medium' }} to {{ weatherForecast.end_date | date:'medium' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Area</th>
              <th scope="col">Forecast</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wF of weatherForecast.forecast">
              <td>{{wF.area}}</td>
              <td>{{wF.forecast}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>